USE [master]
GO
/****** Object:  Database [done1]    Script Date: 26-Jul-25 12:57:07 AM ******/
CREATE DATABASE [done1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'done1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\done1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'done1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\done1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [done1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [done1]
GO
/****** Object:  Table [dbo].[attribute]    Script Date: 26-Jul-25 12:57:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[attribute](
	[attribute_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[attribute_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[brand]    Script Date: 26-Jul-25 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brand](
	[brand_id] [int] IDENTITY(1,1) NOT NULL,
	[brand_name] [nvarchar](100) NOT NULL,
	[country] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[brand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart]    Script Date: 26-Jul-25 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart](
	[cart_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NULL,
	[product_id] [int] NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 26-Jul-25 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 26-Jul-25 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[full_name] [nvarchar](255) NOT NULL,
	[gender] [varchar](10) NULL,
	[address] [nvarchar](255) NULL,
	[avatar_url] [varchar](255) NULL,
	[date_of_birth] [date] NULL,
	[is_deactivated] [bit] NULL,
	[last_login] [datetime2](7) NULL,
	[google_id] [varchar](255) NULL,
	[reset_token] [varchar](255) NULL,
	[reset_token_expiry] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[username] [nvarchar](max) NULL,
	[phone] [int] NULL,
	[has_set_password] [bit] NULL,
 CONSTRAINT [PK__customer__CD65CB85A96C718B] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[discount]    Script Date: 26-Jul-25 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[discount](
	[discount_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[active] [int] NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
	[sale_price] [decimal](10, 2) NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_discount] PRIMARY KEY CLUSTERED 
(
	[discount_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[game_details]    Script Date: 26-Jul-25 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[game_details](
	[game_details_id] [int] IDENTITY(1,1) NOT NULL,
	[developer] [nvarchar](255) NULL,
	[genre] [nvarchar](255) NULL,
	[release_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[game_details_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[game_key]    Script Date: 26-Jul-25 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[game_key](
	[game_key_id] [int] IDENTITY(1,1) NOT NULL,
	[game_details_id] [int] NULL,
	[key_code] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[game_key_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[image]    Script Date: 26-Jul-25 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[image](
	[image_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[image_URL] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[operating_system]    Script Date: 26-Jul-25 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[operating_system](
	[os_id] [int] IDENTITY(1,1) NOT NULL,
	[game_details_id] [int] NULL,
	[os_name] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[os_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order]    Script Date: 26-Jul-25 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NULL,
	[voucher_id] [int] NULL,
	[total_amount] [decimal](10, 2) NOT NULL,
	[payment_method] [varchar](50) NULL,
	[shipping_address] [nvarchar](255) NULL,
	[order_date] [datetime2](7) NULL,
	[status] [varchar](50) NULL,
	[staff_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_detail]    Script Date: 26-Jul-25 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_detail](
	[order_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[product_id] [int] NULL,
	[quantity] [int] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[game_key] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[order_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 26-Jul-25 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[price] [decimal](10, 2) NOT NULL,
	[quantity] [int] NOT NULL,
	[category_id] [int] NULL,
	[brand_id] [int] NULL,
	[game_details_id] [int] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[active_product] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_attribute]    Script Date: 26-Jul-25 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_attribute](
	[product_id] [int] NOT NULL,
	[attribute_id] [int] NOT NULL,
	[value] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC,
	[attribute_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[staff]    Script Date: 26-Jul-25 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staff](
	[staff_id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[full_name] [nvarchar](255) NOT NULL,
	[gender] [varchar](10) NULL,
	[phone] [varchar](20) NULL,
	[role] [varchar](50) NULL,
	[date_of_birth] [date] NULL,
	[avatar_url] [varchar](255) NULL,
 CONSTRAINT [PK__staff__1963DD9C04D624EA] PRIMARY KEY CLUSTERED 
(
	[staff_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[star_review]    Script Date: 26-Jul-25 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[star_review](
	[product_id] [int] NULL,
	[customer_id] [int] NULL,
	[value] [int] NULL,
	[order_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[store_platform]    Script Date: 26-Jul-25 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[store_platform](
	[platform_id] [int] IDENTITY(1,1) NOT NULL,
	[game_details_id] [int] NULL,
	[store_OS_name] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[platform_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[voucher]    Script Date: 26-Jul-25 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[voucher](
	[voucher_id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[value] [decimal](10, 2) NOT NULL,
	[usage_limit] [int] NULL,
	[active] [bit] NULL,
	[description] [nvarchar](max) NULL,
	[min_order_value] [decimal](10, 2) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[voucher_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[attribute] ON 

INSERT [dbo].[attribute] ([attribute_id], [name]) VALUES (1, N'Platform')
INSERT [dbo].[attribute] ([attribute_id], [name]) VALUES (2, N'Color')
INSERT [dbo].[attribute] ([attribute_id], [name]) VALUES (3, N'Sensor')
SET IDENTITY_INSERT [dbo].[attribute] OFF
GO
SET IDENTITY_INSERT [dbo].[brand] ON 

INSERT [dbo].[brand] ([brand_id], [brand_name], [country]) VALUES (1, N'Logitech', N'Switzerland')
INSERT [dbo].[brand] ([brand_id], [brand_name], [country]) VALUES (2, N'Razer', N'USA')
INSERT [dbo].[brand] ([brand_id], [brand_name], [country]) VALUES (3, N'SteelSeries', N'Denmark')
SET IDENTITY_INSERT [dbo].[brand] OFF
GO
SET IDENTITY_INSERT [dbo].[cart] ON 

INSERT [dbo].[cart] ([cart_id], [customer_id], [product_id], [quantity]) VALUES (1012, 4, 4, 1)
INSERT [dbo].[cart] ([cart_id], [customer_id], [product_id], [quantity]) VALUES (1015, 8, 4, 1)
INSERT [dbo].[cart] ([cart_id], [customer_id], [product_id], [quantity]) VALUES (1016, 8, 5, 1)
SET IDENTITY_INSERT [dbo].[cart] OFF
GO
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([category_id], [name]) VALUES (1, N'Game')
INSERT [dbo].[category] ([category_id], [name]) VALUES (2, N'Mouse')
INSERT [dbo].[category] ([category_id], [name]) VALUES (3, N'Keyboard')
SET IDENTITY_INSERT [dbo].[category] OFF
GO
SET IDENTITY_INSERT [dbo].[customer] ON 

INSERT [dbo].[customer] ([customer_id], [email], [password_hash], [full_name], [gender], [address], [avatar_url], [date_of_birth], [is_deactivated], [last_login], [google_id], [reset_token], [reset_token_expiry], [created_at], [updated_at], [username], [phone], [has_set_password]) VALUES (1, N'test@example.com', N'some_hashed_password', N'Test User', NULL, NULL, NULL, NULL, 0, NULL, NULL, NULL, NULL, CAST(N'2025-06-20T08:31:59.3933333' AS DateTime2), CAST(N'2025-06-20T08:31:59.3933333' AS DateTime2), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[customer] OFF
GO
SET IDENTITY_INSERT [dbo].[discount] ON 

INSERT [dbo].[discount] ([discount_id], [product_id], [active], [start_date], [end_date], [sale_price], [description]) VALUES (1, 2, 0, CAST(N'1900-02-08T00:00:00.000' AS DateTime), CAST(N'1901-11-30T00:00:00.000' AS DateTime), CAST(2.00 AS Decimal(10, 2)), N'gdffdhfdh')
INSERT [dbo].[discount] ([discount_id], [product_id], [active], [start_date], [end_date], [sale_price], [description]) VALUES (2, 2, 0, CAST(N'2025-06-21T00:00:00.000' AS DateTime), CAST(N'2025-07-21T00:00:00.000' AS DateTime), CAST(29.00 AS Decimal(10, 2)), N'sang')
INSERT [dbo].[discount] ([discount_id], [product_id], [active], [start_date], [end_date], [sale_price], [description]) VALUES (3, 2, 1, CAST(N'2025-07-17T00:00:00.000' AS DateTime), CAST(N'2025-07-25T00:00:00.000' AS DateTime), CAST(20.00 AS Decimal(10, 2)), N'sádasd')
SET IDENTITY_INSERT [dbo].[discount] OFF
GO
SET IDENTITY_INSERT [dbo].[game_details] ON 

INSERT [dbo].[game_details] ([game_details_id], [developer], [genre], [release_date]) VALUES (2, N'FromSoftware', N'Action RPG', CAST(N'2022-02-25' AS Date))
INSERT [dbo].[game_details] ([game_details_id], [developer], [genre], [release_date]) VALUES (3, N'Larian Studios', N'RPG', CAST(N'2023-08-03' AS Date))
INSERT [dbo].[game_details] ([game_details_id], [developer], [genre], [release_date]) VALUES (4, N'Two Point Studios', N'Casual, Simulation, Strategy', CAST(N'2025-03-04' AS Date))
SET IDENTITY_INSERT [dbo].[game_details] OFF
GO
SET IDENTITY_INSERT [dbo].[game_key] ON 

INSERT [dbo].[game_key] ([game_key_id], [game_details_id], [key_code]) VALUES (4, 5, N'wwwwww')
INSERT [dbo].[game_key] ([game_key_id], [game_details_id], [key_code]) VALUES (1021, 4, N'ALTERS-ABCDE-12345')
INSERT [dbo].[game_key] ([game_key_id], [game_details_id], [key_code]) VALUES (1022, 4, N'ALTERS-FGHIJ-67890')
SET IDENTITY_INSERT [dbo].[game_key] OFF
GO
SET IDENTITY_INSERT [dbo].[image] ON 

INSERT [dbo].[image] ([image_id], [product_id], [image_URL]) VALUES (7, 2, N'eldenring_1.png')
INSERT [dbo].[image] ([image_id], [product_id], [image_URL]) VALUES (8, 2, N'eldenring_2.png')
INSERT [dbo].[image] ([image_id], [product_id], [image_URL]) VALUES (9, 2, N'eldenring_3.png')
SET IDENTITY_INSERT [dbo].[image] OFF
GO
SET IDENTITY_INSERT [dbo].[operating_system] ON 

INSERT [dbo].[operating_system] ([os_id], [game_details_id], [os_name]) VALUES (1, NULL, N'Windows')
INSERT [dbo].[operating_system] ([os_id], [game_details_id], [os_name]) VALUES (2, NULL, N'macOS')
INSERT [dbo].[operating_system] ([os_id], [game_details_id], [os_name]) VALUES (3, NULL, N'Linux')
SET IDENTITY_INSERT [dbo].[operating_system] OFF
GO
SET IDENTITY_INSERT [dbo].[order] ON 

INSERT [dbo].[order] ([order_id], [customer_id], [voucher_id], [total_amount], [payment_method], [shipping_address], [order_date], [status], [staff_id]) VALUES (3, 1, NULL, CAST(99.99 AS Decimal(10, 2)), NULL, NULL, CAST(N'2025-06-20T08:32:31.9066667' AS DateTime2), N'Delivered', NULL)
INSERT [dbo].[order] ([order_id], [customer_id], [voucher_id], [total_amount], [payment_method], [shipping_address], [order_date], [status], [staff_id]) VALUES (4, 1, NULL, CAST(50.00 AS Decimal(10, 2)), NULL, NULL, CAST(N'2025-05-15T00:00:00.0000000' AS DateTime2), N'Confirmed', NULL)
INSERT [dbo].[order] ([order_id], [customer_id], [voucher_id], [total_amount], [payment_method], [shipping_address], [order_date], [status], [staff_id]) VALUES (5, 1, 2, CAST(150.00 AS Decimal(10, 2)), N'Visa', N'123 ABC Street, HCM', CAST(N'2025-06-22T12:07:35.5866667' AS DateTime2), N'Pending', NULL)
SET IDENTITY_INSERT [dbo].[order] OFF
GO
SET IDENTITY_INSERT [dbo].[order_detail] ON 

INSERT [dbo].[order_detail] ([order_detail_id], [order_id], [product_id], [quantity], [price], [game_key]) VALUES (1, 5, 5, 2, CAST(49.99 AS Decimal(10, 2)), NULL)
INSERT [dbo].[order_detail] ([order_detail_id], [order_id], [product_id], [quantity], [price], [game_key]) VALUES (2, 5, 7, 1, CAST(29.99 AS Decimal(10, 2)), NULL)
INSERT [dbo].[order_detail] ([order_detail_id], [order_id], [product_id], [quantity], [price], [game_key]) VALUES (3, 8, 5, 4, CAST(159.99 AS Decimal(10, 2)), NULL)
SET IDENTITY_INSERT [dbo].[order_detail] OFF
GO
SET IDENTITY_INSERT [dbo].[product] ON 

INSERT [dbo].[product] ([product_id], [name], [description], [price], [quantity], [category_id], [brand_id], [game_details_id], [created_at], [updated_at], [active_product]) VALUES (2, N'Elden Ring', N'A fantasy action-RPG adventure.', CAST(59.99 AS Decimal(10, 2)), 86, 1, NULL, 2, CAST(N'2025-06-16T20:59:12.5100000' AS DateTime2), CAST(N'2025-07-25T22:21:31.7933333' AS DateTime2), 1)
INSERT [dbo].[product] ([product_id], [name], [description], [price], [quantity], [category_id], [brand_id], [game_details_id], [created_at], [updated_at], [active_product]) VALUES (3, N'Logitech G Pro X Superlight', N'A lightweight wireless gaming mouse.', CAST(149.99 AS Decimal(10, 2)), 47, 2, 1, NULL, CAST(N'2025-06-16T20:59:12.5100000' AS DateTime2), CAST(N'2025-07-23T20:11:52.1200000' AS DateTime2), 1)
INSERT [dbo].[product] ([product_id], [name], [description], [price], [quantity], [category_id], [brand_id], [game_details_id], [created_at], [updated_at], [active_product]) VALUES (4, N'Razer DeathAdder V2', N'Ergonomic wired gaming mouse with optical switches.', CAST(69.99 AS Decimal(10, 2)), 68, 2, 2, NULL, CAST(N'2025-06-16T20:59:12.5100000' AS DateTime2), CAST(N'2025-07-11T18:14:32.5600000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[product] OFF
GO
INSERT [dbo].[product_attribute] ([product_id], [attribute_id], [value]) VALUES (2, 1, N'PC')
INSERT [dbo].[product_attribute] ([product_id], [attribute_id], [value]) VALUES (3, 2, N'Black')
INSERT [dbo].[product_attribute] ([product_id], [attribute_id], [value]) VALUES (3, 3, N'HERO 25K')
GO
SET IDENTITY_INSERT [dbo].[staff] ON 

INSERT [dbo].[staff] ([staff_id], [email], [password_hash], [full_name], [gender], [phone], [role], [date_of_birth], [avatar_url]) VALUES (12, N'sang1@gmail.com', N'8B55A297EEAE0F0E379BAE8632F0475D', N'HoangSang', N'female', N'0348244776', N'admin', CAST(N'2025-07-11' AS Date), N'')
INSERT [dbo].[staff] ([staff_id], [email], [password_hash], [full_name], [gender], [phone], [role], [date_of_birth], [avatar_url]) VALUES (13, N'staff@gmail.com', N'3EB2087F38CAB98EDC375001108BCD8D', N'Ahoo', N'Male', N'0348244776', N'staff', CAST(N'2004-07-30' AS Date), N'/CosmoraCelestica/assets/img/avatar/avatar3.png')
INSERT [dbo].[staff] ([staff_id], [email], [password_hash], [full_name], [gender], [phone], [role], [date_of_birth], [avatar_url]) VALUES (14, N'a@gmail.com', N'3EB2087F38CAB98EDC375001108BCD8D', N'ascado loyd', NULL, N'', N'admin', CAST(N'2025-07-24' AS Date), N'/CosmoraCelestica/assets/img/avatar/avatar7.png')
SET IDENTITY_INSERT [dbo].[staff] OFF
GO
INSERT [dbo].[star_review] ([product_id], [customer_id], [value], [order_id]) VALUES (5, 4, 5, NULL)
INSERT [dbo].[star_review] ([product_id], [customer_id], [value], [order_id]) VALUES (6, 4, 5, NULL)
INSERT [dbo].[star_review] ([product_id], [customer_id], [value], [order_id]) VALUES (2, 4, 5, NULL)
GO
SET IDENTITY_INSERT [dbo].[store_platform] ON 

INSERT [dbo].[store_platform] ([platform_id], [game_details_id], [store_OS_name]) VALUES (1, NULL, N'Steam')
INSERT [dbo].[store_platform] ([platform_id], [game_details_id], [store_OS_name]) VALUES (2, NULL, N'Epic Games Store')
INSERT [dbo].[store_platform] ([platform_id], [game_details_id], [store_OS_name]) VALUES (3, NULL, N'GOG')
SET IDENTITY_INSERT [dbo].[store_platform] OFF
GO
SET IDENTITY_INSERT [dbo].[voucher] ON 

INSERT [dbo].[voucher] ([voucher_id], [code], [value], [usage_limit], [active], [description], [min_order_value], [start_date], [end_date]) VALUES (1, N'cdsadsad', CAST(7.49 AS Decimal(10, 2)), 29, 1, N'sdfosdkhjfds', CAST(15.00 AS Decimal(10, 2)), CAST(N'2025-07-17' AS Date), CAST(N'2026-10-08' AS Date))
INSERT [dbo].[voucher] ([voucher_id], [code], [value], [usage_limit], [active], [description], [min_order_value], [start_date], [end_date]) VALUES (2, N'cba', CAST(150.00 AS Decimal(10, 2)), 10, 0, N'dấd', CAST(400.00 AS Decimal(10, 2)), CAST(N'2025-06-04' AS Date), CAST(N'2025-07-16' AS Date))
INSERT [dbo].[voucher] ([voucher_id], [code], [value], [usage_limit], [active], [description], [min_order_value], [start_date], [end_date]) VALUES (3, N'916131', CAST(1.00 AS Decimal(10, 2)), 1, 0, N'aaaaaaaa', CAST(11.00 AS Decimal(10, 2)), CAST(N'2025-07-17' AS Date), CAST(N'2025-07-24' AS Date))
SET IDENTITY_INSERT [dbo].[voucher] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__customer__AB6E6164C40C170B]    Script Date: 26-Jul-25 12:57:08 AM ******/
ALTER TABLE [dbo].[customer] ADD  CONSTRAINT [UQ__customer__AB6E6164C40C170B] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__staff__AB6E6164A8CB867A]    Script Date: 26-Jul-25 12:57:08 AM ******/
ALTER TABLE [dbo].[staff] ADD  CONSTRAINT [UQ__staff__AB6E6164A8CB867A] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__voucher__357D4CF9245EEA67]    Script Date: 26-Jul-25 12:57:08 AM ******/
ALTER TABLE [dbo].[voucher] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[customer] ADD  CONSTRAINT [DF__customer__is_dea__5BE2A6F2]  DEFAULT ((0)) FOR [is_deactivated]
GO
ALTER TABLE [dbo].[customer] ADD  CONSTRAINT [DF__customer__create__5DCAEF64]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[customer] ADD  CONSTRAINT [DF__customer__update__5EBF139D]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[customer] ADD  CONSTRAINT [DF_customer_has_set_password]  DEFAULT ((0)) FOR [has_set_password]
GO
ALTER TABLE [dbo].[order] ADD  DEFAULT (getdate()) FOR [order_date]
GO
ALTER TABLE [dbo].[product] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[product] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[voucher] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD  CONSTRAINT [FK__cart__customer_i__66603565] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customer] ([customer_id])
GO
ALTER TABLE [dbo].[cart] CHECK CONSTRAINT [FK__cart__customer_i__66603565]
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[discount]  WITH CHECK ADD  CONSTRAINT [FK_discount_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[discount] CHECK CONSTRAINT [FK_discount_product]
GO
ALTER TABLE [dbo].[game_key]  WITH CHECK ADD FOREIGN KEY([game_details_id])
REFERENCES [dbo].[game_details] ([game_details_id])
GO
ALTER TABLE [dbo].[image]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[operating_system]  WITH CHECK ADD FOREIGN KEY([game_details_id])
REFERENCES [dbo].[game_details] ([game_details_id])
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FK__order__customer___6C190EBB] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customer] ([customer_id])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FK__order__customer___6C190EBB]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD FOREIGN KEY([voucher_id])
REFERENCES [dbo].[voucher] ([voucher_id])
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FK_order_staff] FOREIGN KEY([staff_id])
REFERENCES [dbo].[staff] ([staff_id])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FK_order_staff]
GO
ALTER TABLE [dbo].[order_detail]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[order] ([order_id])
GO
ALTER TABLE [dbo].[order_detail]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD FOREIGN KEY([brand_id])
REFERENCES [dbo].[brand] ([brand_id])
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[category] ([category_id])
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD FOREIGN KEY([game_details_id])
REFERENCES [dbo].[game_details] ([game_details_id])
GO
ALTER TABLE [dbo].[product_attribute]  WITH CHECK ADD FOREIGN KEY([attribute_id])
REFERENCES [dbo].[attribute] ([attribute_id])
GO
ALTER TABLE [dbo].[product_attribute]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[star_review]  WITH CHECK ADD  CONSTRAINT [FK_star_review_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customer] ([customer_id])
GO
ALTER TABLE [dbo].[star_review] CHECK CONSTRAINT [FK_star_review_customer]
GO
ALTER TABLE [dbo].[star_review]  WITH CHECK ADD  CONSTRAINT [FK_star_review_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[star_review] CHECK CONSTRAINT [FK_star_review_product]
GO
ALTER TABLE [dbo].[store_platform]  WITH CHECK ADD FOREIGN KEY([game_details_id])
REFERENCES [dbo].[game_details] ([game_details_id])
GO
/****** Object:  Trigger [dbo].[trg_UpdateCustomerUpdatedAt]    Script Date: 26-Jul-25 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_UpdateCustomerUpdatedAt]
ON [dbo].[customer]
AFTER UPDATE
AS
BEGIN
    UPDATE customer
    SET updated_at = GETDATE()
    FROM inserted
    WHERE customer.customer_id = inserted.customer_id;
END;
GO
ALTER TABLE [dbo].[customer] ENABLE TRIGGER [trg_UpdateCustomerUpdatedAt]
GO
/****** Object:  Trigger [dbo].[trg_UpdateActiveWhenUsageLimitZero]    Script Date: 26-Jul-25 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_UpdateActiveWhenUsageLimitZero]
ON [dbo].[voucher]
AFTER UPDATE
AS
BEGIN
    UPDATE Voucher
    SET active = 0
    FROM Voucher v
    JOIN inserted i ON v.voucher_id = i.voucher_id
    WHERE i.usage_limit = 0
END
GO
ALTER TABLE [dbo].[voucher] ENABLE TRIGGER [trg_UpdateActiveWhenUsageLimitZero]
GO
USE [master]
GO
